#Projects{
    padding: 2rem 0;
    position: relative;
}

.projects-statement{
    margin: 0 auto;
}

.underline-select-wrapper{
    width: fit-content;
    margin: 2rem auto 1.5rem auto;
}

.projects-label{
    font-size: 18px;
    font-weight: 300;
}
.projects-select{
    margin-left: 10px;
    border:none;
    border-bottom: solid 1px var(--underline);
    font-size: 15px;
    color: var(--text-color);
    font-weight: 300;
}

.projects-underline{
    width: 300px;
    margin: 10px auto;
}


/* media queries */
@media only screen and (min-width: 754px) {
    #Projects{
        padding: 3.5rem 0;
    }
    .projects-underline{
        width: clamp(300px, 90vw, 1100px);
    }
}

@media only screen and (min-width: 500px) {
    #Projects{
        padding: 3.5rem 3rem;
    }

}