#Projects{
    padding: 2rem 0;
    position: relative;
}

.projects-statement{
    font-family: var(--header-font);
    color: var(--header-color);
    font-weight: 200;
    width: fit-content;
    margin: 0 auto;
    font-size: clamp(24px, 3.8vw, 36px);
}

.underline-select-wrapper{
    width: fit-content;
    margin: 2rem auto 1.5rem auto;
}

.projects-label{
    font-size: 18px;
    font-weight: 300;
    color: var(--text-color);
}
.projects-select{
    margin-left: 10px;
    border:none;
    border-bottom: solid 1px var(--underline);
    font-size: 15px;
    color: var(--text-color);
    font-weight: 300;
}

.projects-underline{
    width: 300px;
    height:2px;
    background: var(--underline);
    margin: 10px auto;
}

/* media queries */

@media only screen and (min-width: 754px) {
    #Projects{
        padding: 3.5rem 0;
    }
    .projects-underline{
        width: clamp(300px, 90vw, 1100px);
    }
}

@media only screen and (min-width: 500px) {
    #Projects{
        padding: 3.5rem 3rem;
    }

}