#ThanksOverlay{
    position: absolute;
    top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 73%;
    background: rgba(255, 255, 255, 0.95);
    border: 0.5px solid #4F524E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: scroll;
    padding-top:6rem;
}

/* the class, overlay-x is in base.css becasue its reused */

.thanks-title{
    margin: auto;
    font-size: clamp(24px, 3.8vw, 36px);
    font-weight: 300;
}
.thanks-content-wrapper{
    width: clamp(275px, 55vw, 600px);
    margin: auto;
}
.thanks-message{
    margin: 6rem auto;
    text-align: justify;
}
.thanks-closing{
    margin-bottom: 0;
}
.thanks-mitchell{
    color: var(--purple);
}
.thanks-roy{
    color: var(--red);
}


@media only screen and (min-width: 600px) {
    
    #ThanksOverlay{
        width: clamp(300px, 75vw, 700px);
        max-height: 455px;
        padding: 4rem 4rem 1rem 4rem;
    }

    .overlay-x{
        margin: 25px 0 2rem 0;
    }
}