#Contact{
    padding: 2rem 0;
    position: relative;
}

.contact-statement{
    margin: 0 auto 2rem auto;
    font-size: clamp(24px, 3.8vw, 36px);
}

.contact-form{
    width: clamp(300px, 75vw, 700px);
    margin: auto;
}
.form-font{
    font-family: var(--text-font);
    color: var(--text-color);
}
.contact-input-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}
.contact-input{
    border: solid .5px var(--text-color);
}

.contact-form-label{
    font-weight: 200;
}
.contact-textarea{
    height: 180px;
}
.captcha{
    width: fit-content;
    margin: 0 auto 1rem auto;
}
.contact-submit-button{
    margin: auto;
    width: 100px;
    height:32px;
    background: transparent;
    border: solid .5px var(--text-color);
    font-weight: 300;
    display: block;
    transition: .2s;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.contact-submit-button:hover{
    color: var(--purple);
    border: solid 2px var(--purple);
    cursor: pointer;
}
@media only screen and (min-width: 600px) {
    .contact-form-content{
        display: flex;
        width: 100%;
    }
    .fullname-wrapper{
        margin-right: 5px;
    }
    .email-wrapper{
        margin-left: 5px;
    }
    #Contact{
        padding: 4rem 0;
    }

    .contact-statement{
        margin: 0 auto 4rem auto;
    }
}