.carousel{
    position: relative;
    width: clamp(300px, 75vw, 650px);
    height: initial;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.prev{
    left: -1rem;
}
.next{
    right: -1rem;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    font-size: 48px;
    font-family: var(--header-font);
    font-weight: 200;
    z-index: 2;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    height: fit-content;
    cursor: pointer;
}


.carousel-ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.slide{
    opacity:0;
    transition: .5s ease;
    margin: 0 auto;
}
.active-slide{
    opacity: 1;
  }
.slide-img{
    width: clamp(300px, 75vw, 650px);
    margin: 0 auto;
    padding: 0;
    border: 0.5px solid #4F524E;
}

@media only screen and (min-width: 500px) {
    .carousel-button{
        color: var(--text-color);
        background: transparent;
    }
    .carousel-button:hover{
        color: var(--header-color);
    }
    .prev{
        left: -2.5rem;
    }
    .next{
        right: -2.5rem;
    }
}